body {
	padding-top:50;
}

.polls 	{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
}

.poll 	{
	width:25%;
	margin:20px;
}

.poll-buttons{
	margin-top: 20px;
}

.poll-buttons span{
	margin: 0 12px;
}
