.poll-container 	{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	max-width: 50%;
	margin: 0 auto;
}

.add-poll-form {
  margin-bottom: 50px;
}

.add-poll-disclaimer {
  padding: 10px;
}

.poll 	{
	margin:20px;
}

.pollsCompleted {
	margin-top: 40px;
}

.pollsCompleted .giant-heading {
	margin-bottom: 20px;
}

.pollsCompleted .giant-heading small {
	font-size: 0.4em;
	letter-spacing: -2px;
	line-height: 0.5em;
}

.poll-buttons{
	margin-top: 20px;
}

.poll-buttons span{
	margin: 0 12px;
  line-height: 1.2em;
  font-size: 1.4em;
}

.select-choice {
  margin: 10px 0;
  padding: 10px 0;
  line-height: 1.2em;
  font-size: 1.4em;
  text-align: center;
}
