<template name="poll">

  <div class="poll well" data-id="{{ _id }}">

    <h3 class="text-center">{{ question }}</h3>

    {{ #each indexedArray choices }}
    <a href="#" class="select-choice btn btn-primary btn-block" data-id="{{ _index }}">
      <span class="text">{{ text }}</span>
    </a>
    {{ /each }}

    <div class="row text-center poll-buttons">
      <span class="more-info btn btn-info">More Info</span>
      <span class="submit-choice btn btn-success">Submit</span>
    </div>
  </div>
  
</template>
