* {
	margin: 0;
}

html, body, #__blaze-root {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -94px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
	height: 94px; /* '.push' must be the same height as 'footer' */
}
